@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark text-center">
    <h1 class="display-4 font-italic"> Developer. Teacher. Student.</h1>
    <p class="lead my-3">My name is Alex and I have a passion for technology. I love seeking out creative solutions to problems and finding new ways to use technology to improve our daily lives</p>
    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">My projects...</a></p>
</div>

<div class="jumbotron p-3 bg-light rounded">
    <img src="~/Images/alexImage.jpg" class="rounded img-fluid" alt="Cinque Terre">
  
</div>